/* global styling */

body {
  background: #e2efe6 url('../img/bkg.png') repeat;
  margin: 0;
  padding: 0;


  h1, h2, h3, h4, h5, h6 {
    color: #2A2523;
    font-family: 'Oswald', sans-serif;
  }

  p {
    color: #2A2523;
    font-family: 'Lato', sans-serif;

  }

  /* Utlility styling */


  .right {
    float: right;
  }


  .container {
    width: 100%;

    .welcome {
      background: rgba(177, 212, 188, 0.5);
      width: 100%;
      text-align: center;

      div {
        @extend .clearfix;
        padding-bottom: 10%;
        h2 {
          font-size: 40pt;
        }
        p {
          font-size: 16pt;
        }
      } //END DIV
    } //END WELCOME

    .portfolio {
      text-align: center; margin: 0 auto;
      .image-container{
        width: 450px;
        height: 450px;
        overflow-x: hidden;
        margin: 0 auto;
        img {
          max-width: 100%;
          // max-height: 100%;
        }

      }//END .IMGAGE_CONTAINER
      .row{padding: 0 20px;}
      .row:after {
        content:"";
        display: table;
        clear:both;
      }

      [class*='col-'] {
        float: left;
        padding-right: 20px;
      }

      .col-1-2 {
        width: 50%;
      }


      [class*='col-']:last-of-type {
        padding-right: 0;
      }

      *, *:after, *:before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
    } //END .PORTFOLIO

    .about {
        background: rgba(177, 212, 188, 0.5);
        padding-bottom: 10%;

        div {
          margin-left: 15px;
          padding-top: 2px;

          h3 {
            font-size: 30pt;
          }

          p {
            font-size: 14pt;
          }

          h5 {
            font-size: 16pt;
          }

          img {
            margin: 5px;
            margin-top: 1.75%;
            padding: 15px;
            float: right;
          }
        }//END DIV
      }//END ABOUT

      .contact {
        // background: rgba(146, 176, 169, 0.5);
        font: red;
        font-family: FontAwesome;
        margin-left: 15px;


        h3 {
          font-size: 30pt;
        }

        .fa-ul {
          font-size: 20pt;
          a {
            text-decoration: none;
          }

          #twitter::before {
            content: '\f099';
            font-family: FontAwesome;
          }

          #github::before {
            content: '\f09b';
            font-family: FontAwesome;
          }

          #linkedin::before {
            content: '\f08c';
            font-family: FontAwesome;
          }
        }

      } //END .CONTACT
  }//END CONTAINER
} //END BODY
